In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Stress-Lysis.csv')
data.head()

   Humidity  Temperature  Step_count  Stress_Level
0     21.33        90.33         123             1
1     21.41        90.41          93             1
2     27.12        96.12         196             2
3     27.64        96.64         177             2
4     10.87        79.87          87             0

Data Preparation

In [3]:
data.shape

(2001, 4)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Humidity      2001 non-null   float64
 1   Temperature   2001 non-null   float64
 2   Step_count    2001 non-null   int64
 3   Stress_Level  2001 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 62.7 KB

In [7]:
data.describe().T

               count        mean        std   min   25%    50%    75%    max
Humidity      2001.0   20.000000   5.777833  10.0  15.0   20.0   25.0   30.0
Temperature   2001.0   89.000000   5.777833  79.0  84.0   89.0   94.0   99.0
Step_count    2001.0  100.141429  58.182948   0.0  50.0  101.0  150.0  200.0
Stress_Level  2001.0    1.104448   0.771094   0.0   0.0    1.0    2.0    2.0

In [8]:
data.isnull().sum()

Humidity        0
Temperature     0
Step_count      0
Stress_Level    0
dtype: int64

In [9]:
data.duplicated().sum()

0